html {
	font-family: sans-serif;
}

html,
body,
main {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

a {
	color: blue;
}

iframe {
	border: 3px double #333;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

h1 {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
form > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

label {
	display: inline-block;
	width: 70px;
}

input:not([type='checkbox']) {
	box-sizing: border-box;
	width: 200px;
}

.links {
	display: flex;
	flex-direction: row;
	gap: 8px;
}
